#main {
  text-align: center;
  color: whitesmoke;
  background-image: url(../images/italian-food-background-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: fit-content;
  

}

#mainContent {
  
  padding: 15%;
}
#mainContent h1 {
  font-family: 'Ultra', serif;
  font-size: 50px;
}
#mainContent p {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: cornsilk;
}

.nav-link {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: cornsilk;
}
#orderBtn {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

#menuHeading h1 {
  font-family: 'Fredoka One', cursive;
  padding: 5%;
  text-align: center;
  font-size: 40px;
  
}
#menu {
  background-image: url(../images/contemporary-china.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: fit-content;
  text-align: center;

}
#row2 {
  padding: 5%;
}

.btn-outline-warning {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center
  
}

#order-top {
  background-image: url(../images/top-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 40vh;
}

#order-top h1 {
  font-family: 'Ultra', serif;
  font-size: 50px;
  color: whitesmoke;

}

#order-top h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 35px;
  color: cornsilk;
}

#large {
  text-align: center;
}
#small {
  text-align: center;
}
#medium {
  text-align: center;
}

.btn-warning {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center
}
.card-title {
  font-size: 30px;
  font-family: 'Bree Serif', serif;
}
.card-text {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
}
